# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
.venv/
.venv1/
env/
ENV/

# PyCharm
.idea/

# Logs and local environment
*.log
*.env

# macOS
.DS_Store

# Node.js / React
node_modules/
build/
dist/
npm-debug.log
yarn-error.log
